boto3
fastapi
langchain==0.2.3
langchain-community==0.2.4
langchain-openai==0.1.8
langchainhub==0.1.18
neo4j-driver==5.21.0
openai==1.33.0
pydantic
pymupdf==1.23.6
python-docx==0.8.11
python-dotenv
sentence-transformers
streamlit==1.35.0
supabase
supabase-python
tenacity!=8.4.0
torch
transformers
uvicorn